@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,700&display=swap');

body{
    font-family: $font;
    font-weight: $regular;
}

.uppercase{ text-transform: uppercase; }

.he-body,
.he-txt{ text-align: right; }