// Colors
$primary:   #25C2E3;
$dark:      #10131D;
$light:     #fff;


// Text
$font:    'Be Vietnam', sans-serif;
$regular: 400;
$bold:    700;

// Grid
$grid-breakpoints: (
    '': 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// Urls
// http://own-tech.com
$url: 'http://own-tech.com';