.ot-card{
    border-radius: 7px;
    @include box-shadow(0px 3px 6px rgba(0,0,0,.30));
    &.blue-card{
        background-color: $primary;
        padding: 70px 35px;
    }
    &.white-card{
        background-color: #fff;
        border: 1px solid $primary;
        padding: 25px 30px;
    }

    &:hover{ @include box-shadow(0px 5px 9px rgba(0,0,0,.40)); }
}