.ot-carousel{
    .controls-holder{
        position: absolute;
        right: 0;
        width: 70px;
        margin-top: 5px;
        .carousel-control{
            width: auto;
            opacity: 1;
        }
    }
}