footer{
    margin-top: 100px;
    background-color: $dark;
    padding: 70px 0;

    i{
        line-height: 1.5 !important;
        font-size: 16px;
        width: 16px;
        text-align: center;
    }

    a:hover{ color: #fff; }

    @media (max-width: 991px){
        img{ max-width: 230px !important; }

        .single-social:not(:last-child){ margin-bottom: 10px; }
    }
}