.form-container{
    max-width: 500px;
    margin: 0 auto;

    input:not(.submit-btn), textarea{
        border: none;
        border-bottom: 1px solid $primary;
        height: 40px;
        font-size: 14px;
        resize: none;
        width: 100%;
        border-radius: 0;
        -webkit-appearance: none;
    }

    textarea{ height: 80px; }

    .submit-btn{
        padding: 10px;
        width: 170px;
        background-color: $primary;
        color: #fff;
        border-radius: 7px;
        border: none;
        &:hover{ @include box-shadow(0px 5px 9px rgba(0,0,0,.40)); }
    }

    .file-group{
        .label{ margin-bottom: 40px; }

        input{
            width: 170px;
            height: 43px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            &:hover{ @include box-shadow(0px 5px 9px rgba(0,0,0,.40)); }
        }

        br{ display: none; }

        label{
            color: $primary;
            border: 1px solid $primary;
            background-color: #fff;
            display: inline-block;
            padding: 10px;
            width: 170px;
            cursor: pointer;
            text-align: center;
            border-radius: 7px;
            position: relative;
            z-index: 2;
            &:hover{ @include box-shadow(0px 5px 9px rgba(0,0,0,.40)); }
        }

        .count, .single-file{ font-size: 12px; }

        .single-file:before{
            content: "";
            min-width: 5px;
            height: 5px;
            background-color: $primary;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
        }
    }

    .wpcf7-not-valid-tip{
        font-size: 12px;
        margin-top: 5px;
        color: $primary;
    }

    .wpcf7-response-output{
        margin: 0;
        margin-top: 25px;
        border: 1px solid $primary;
        font-size: 14px;
        padding: 10px 20px;
    }
}

.he-body{
    input:not(.submit-btn), textarea{ text-align: right; }

    .single-file{
        &:before{ display: none !important; }
        &:after{
            content: "";
            min-width: 5px;
            height: 5px;
            background-color: $primary;
            border-radius: 50%;
            display: inline-block;
            margin-left: 10px;
        }
    }
}