header{
    height: 100%;
    background: url('#{$url}/wp-content/uploads/2019/12/cover.jpg') center center/cover no-repeat;
    padding-bottom: 150px;

    .header-carousel{
        padding-bottom: 50px;
        border-bottom: 1px solid $primary;
        .controls-holder{
            font-size: 25px;
            @media (max-width: 767px){
                left: 50%;
                transform: translateX(-50%);
                right: unset;
                top: 130%;
            }
        }

        @media (min-width: 768px){
            .carousel-inner-container{ max-width: 300px; }
        }

        @media (max-width: 767px){
            margin-bottom: 0px;
            padding-bottom: 30px;
        }
    }
}