.menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
    @include transition(background-color .5s ease-in-out);
    z-index: 9999999;

    .navbar{
        padding: 0;

        .navbar-toggler{
            color: #fff;
            border: none;
            width: 25px;
            height: 22px;
            padding: 0;
            position: relative;
            cursor: pointer;
            span{
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: #fff;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                cursor: pointer;
                @include transform(rotate(0deg));
                @include transform-origin(left center);
                @include transition(all 0.25s ease-in-out);
                &:nth-child(1){ top: 0px; }
                &:nth-child(2){ top: 8px; }
                &:nth-child(3){ top: 16px; }
            }
            &[aria-expanded="true"] span{
                left: 0;
                &:nth-child(1){
                    @include transform(rotate(45deg));
                    top: 0px;
                    background: $primary;
                }
                &:nth-child(2){
                    width: 0%;
                    opacity: 0;
                    background: $primary;
                }
                &:nth-child(3){
                    @include transform(rotate(-45deg));
                    top: 18px;
                    background: $primary;
                }
            }
        }
    }

    .navbar-brand{
        position: relative;
        margin: 0;
        max-height: 35px;
        height: 35px;
        width: 230px;
    }

    .logo{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 100%;
        @include transition(opacity .5s ease-in-out);
    }

    &.menu-scroll{
        background-color: #fff;
        .navbar-nav li a{ color: $dark; }
        .navbar-toggler span{ background: $dark; }
        &.menu-wrapper-opened{ background-color: #fff; }
    }

    .current-lang a{ text-decoration: underline !important; }

    .navbar-nav{
        li{
            a{
                @include transition(color .5s ease-in-out);
                vertical-align: text-top;
                &:hover,
                &.active{ color: $primary; }
            }
            &:not(.lang-item){
                margin-right: 50px;
                @media (max-width: 991px){ margin-right: 25px; }
                @media (max-width: 767px){
                    margin: 0;
                    margin-top: 20px;
                }
            }
            &.lang-item{
                &:not(:last-child){
                    margin-right: 5px;
                    @media (max-width: 767px){ margin: 0; }
                }
                @media (max-width: 767px){
                    margin-top: 20px;
                    display: inline-block;
                }
            }
        }

        @media (max-width: 767px){ display: block; }
    }

    &.menu-wrapper-opened{
        @include transition(background-color .5s ease-in-out);
        background-color: $dark;
    }
}