// Utilities
@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/general';
@import './utilities/display';
@import './utilities/text';

// Components
@import './components/header';
@import './components/menu';
@import './components/carousel';
@import './components/card';
@import './components/form';
@import './components/footer';

// Nosotros
.nosotros-container{
    margin-top: -220px;
    .ot-card{
        width: 100%;
        max-width: 470px;
        @media (max-width: 767px){ max-width: unset; }
    }

    @media (max-width: 767px){ margin-top: -170px; }
}

// Valores
.valores-container{
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
        grid-gap: 25px;
        @media (max-width: 767px){
            grid-template-columns: repeat(7, 1fr);
            column-gap: 0;
        }
    }

    .white-card{
        padding: 12% 15%;
        h1{ border-bottom: 1px solid $primary; }
        p{
            font-size: 12px;
            margin-bottom: 20px;
        }
        .value-img{
            width: 125px;
            height: 125px;
            margin: auto auto 0;
            img{
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }

        @media (max-width: 767px){
            grid-column-start: 2;
            grid-column-end: 7;
        }
    }
}

// Historia
.historia-container{
    position: relative;
    .image-block{
        div{
            background: url('#{$url}/wp-content/uploads/2019/12/enfoque.jpg') center center/cover no-repeat;
            border-radius: 7px;
            @include box-shadow(0px 3px 6px rgba(0,0,0,.15));
            @media (max-width: 991px){
                height: 700px !important;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                border-radius: 0;
            }
        }
    }

    @media (max-width: 991px){ margin-top: 50px; }
}

// Equipo
.team-container{
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
        @media (max-width: 767px){
            grid-template-columns: repeat(7, 1fr);
            column-gap: 0;
        }
    }

    .team-image{
        width: 100%;
        height: 225px;
    }

    .team-body{ border-top: 1px solid $primary; }

    @media (max-width: 767px){
        .team-holder{
            grid-column-start: 2;
            grid-column-end: 7;
        }
    }
}

// Servicios
.servicios-container{
    ul{
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        list-style: none;
        li{
            &:not(:last-child){ margin-bottom: 15px; }
            &::before{
                content: "";
                min-width: 5px;
                height: 5px;
                background-color: $primary;
                border-radius: 50%;
                display: inline-block;
                margin-right: 10px;
            }
            &.he-txt{
                &:before{ display: none; }
                &:after{
                    content: "";
                    min-width: 5px;
                    height: 5px;
                    background-color: $primary;
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }
}

// Divider
.divider{
    margin-top: -100px;
    height: 500px;
    background: url('#{$url}/wp-content/uploads/2019/12/parallax.jpg') center center/cover no-repeat fixed;

    .container{ border-bottom: 1px solid $primary; }

    img{ max-width: 170px; }
}

// Industrias
.industrias-container{
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 80px;
        @media (max-width: 991px){ grid-template-columns: repeat(2, 1fr); }
        @media (max-width: 767px){ display: none; }
    }

    .industry-image{
        width: 100%;
        height: 225px;
    }

    .industry-body{ border-top: 1px solid $primary; }

    .carousel-inner-container{
        max-width: 80%;
        margin: 0 auto;
        border-radius: 7px;
        .carousel-inner{ border-radius: 7px; }
    }

    .carousel-control{
        width: auto;
        opacity: 1;
        i{ margin-bottom: 60px; }
    }
}

// Relaciones
.relaciones-container{
    .image-block{
        div{
            background: url('#{$url}/wp-content/uploads/2019/12/enfoque.jpg') center center/cover no-repeat;
            border-radius: 7px;
            @include box-shadow(0px 3px 6px rgba(0,0,0,.15));
        }
        @media (max-width: 991px){ display: none; }
    }

    @media (max-width: 991px){
        background: url('#{$url}/wp-content/uploads/2019/12/enfoque.jpg') center center/cover no-repeat;
        height: 450px;
        margin-bottom: 200px;
        .blue-card{ margin-top: 360px; }
    }
}